main{
    width: 1440px;
    height: 6214px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*DIVS E SECTIONS QUE CONTÊM OS CONTAINERS DE INFORMAÇÕES*/
.balacing-crypto{
    width:1440px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.gravity-team{
    width: 1060px;
    height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1px 0;
}
.gravity-team_container-texto{
    width: 1056px;
    height: 252px;
}
.gravity-team_container-dados{
    width: 1056px;
    height: 356px;
}
.gravity-team_container-dados_linha{
    width: 1056px;
    height: 180px;
    display: inline-flex;
    gap: 2px;
    margin: 0;
}
.gravity-team_container-dados_card{
    width: 264px;
    height: 176px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.crypto-making{
    width: 1440px;
    height: 680px;
}
.crypto-making-container{
    width: 1056px;
    height: 660px;    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.crypto-making-texto{
    width: 1056px;
    height: 192px;
}
.crypto-making_subcontainer{
    width: 1056px;
    height: 366px;
    display: flex;
    align-items: center;
}
.crypto-making_subcontainer_texto{
    width: 422px;
    height: 366px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.crypto-making_subcontainer_imagem{
    width: 422px;
    height: 366px;
    background-image: url(../img/imagem.png);

}
/*TÍTULOS*/
.balacing-crypto h1{
    width: 520px;
    height: 180px;
    font-size: 74px;
    margin: auto;
}
.gravity-team_container-texto h2{
    font-size: 56px;
    width: 531px;
    height: 78px;
    margin: auto;
}
.gravity-team_container-dados_card h3{
    width:200px;
    height: 42px;
    margin: auto;
    font-size: 32px;
}
.crypto-making-texto h2{
    width: 590px;
    height: 78px;
    margin: auto;
    font-size: 56px;
}
.crypto-making_subcontainer_texto h3{
    width: 400px;
    height: 89px;
    font-size: 36px;
    text-align: left;
    font-weight: 400;
}
/*PARAGRAFOS*/
.balacing-crypto p{
    width: 527.89px;
    height: 90px;
    font-size: 18px;
}
.gravity-team_container-texto p{
    width: 612px;
    height: 130px;
    font-size:20px;
}
.gravity-team_container-dados_card p{
    width: 210px;
    height:55px ;
    font-size: 20px;
}
.crypto-marketing-texto p{
    width: 620px;
    height: 90px;
    font-size: 20px;
}
.crypto-making-texto p{
    width: 620px;
    height: 90px;
    font-size: 20px;
}
.crypto-making_subcontainer_texto p{
    font-size: 20px;
    margin: auto 0;
}
.texto-secao{
    width: 390px;
    height: 115px;
}
.texto-destaque{
    width: 393px;
    height: 52px;
    font-weight: 800;
    text-align: left;
    margin: auto 0;
}
.crypto-making_subcontainer_texto a{
    line-height: 25px;
    font-size: 16px;
    width: 120px;
    height: 30px;
}
/*BOTÃO*/
.balacing-crypto button{
    width:191.50px;
    height:58px;
    margin: auto;
    text-transform: uppercase;
    background: linear-gradient(to right, #665DCD 0%, #5FA4E6 50%, #D2AB67 100%);
    border-radius: 5px;
}
/*OUTRAS COISAS*/
.linha-transversal{
    width: 1056px;
    border-color: #5FA4E6;
}
.linha-vertical{
    height:350px;
    padding: 1px;
    background-image: url(../img/div.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
}
#card-destaque{
    background: linear-gradient(to right, #665DCD 0%, #5FA4E6 50%, #D2AB67 100%);
}
.seta{
    background-image: url(../img/arrow.svg.png);
}